body{
    background: antiquewhite;
    color:#514c7c;
    margin: 4%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#skip-to-main-content{
    font-size: 16px;
    background: rgb(47, 36, 78);
    border-radius: 5px;
    color: aliceblue;
    padding:15px;
}

ul{
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
}

li{
    display: inline;
    margin: 0 30px;
  }


h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 60px;
    color: #5e3a8e;
    margin:20px;

}

h2, h3{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#7b3968;
    font-weight: 600;
    line-height: 30px;
}


p{
    font-size: 18px;
    border-radius: 10px;
    margin:20px 150px 0;
    font-weight: 500;
}
